body {
  background-color: white;
}

.searchname {
  width: 900px;
  padding: 14px;
  font-size: 16px;
  margin: 10px;
  margin-left: 190px;
}

img {
  width: 200px;
  height: 200px;
  margin-left: 35px;
  margin-top: 20px;
}

input[type="submit"] {
  padding: 13px;
  width: 50px;
  height: 50px;
  background: url("search.png");
}

audio {
  width: 1000px;
  padding: 20px;
  margin-left: 180px;
}

.result-show {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h1 {
  font-size: 40px;
  color: grey;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.song {
  margin: 10px;
  flex-basis: 20%;
  width: 380px;
  height: auto;
  justify-content: center;
  border: 1px solid #e0e0e0;
}

.song h3 {
  font-size: 12px;
  color: #009999;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.song h2 {
  font-size: 14px;
  font-style: bold;
  color: #606060;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

h3 {
  font-size: 16px;
  color: #606060;
  font-family: "Raleway", sans-serif;
  text-align: left;
  margin-left: 20px;
}

img {
  width: 200px;
  height: 200px;
  margin-left: 35px;
  margin-top: 20px;
}
